stages:
  - build

build:
  stage: build
  image: docker:24.0.2
  services:
    - docker:24.0.2-dind
  tags:
    - dosi   
  script:
    # Authentification si nécessaire (décommenter si vous poussez vers un registre privé)
    # - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
    - docker build -t registry.gitlab.com/dosi/pic/ez-zarzouri-houda/tetris:$CI_COMMIT_REF_SLUG .
  only:
    - branches

